@import url('reset.css');
@import url('box-sizing.css');
//@import url('typography.css');

html {
	font-family: 'Quicksand', sans-serif;
  //font-family: 'Roboto', serif;
  font-size: 16px;
  font-weight: 400;
}

nav {
	//position: fixed;
	height: 50px;
	width: 100%;
	border-bottom: 1px solid rgb(220,220,220);
}

aside, main {
	float: left;
	height: 100vh;
	background-color: rgb(46,53,62);
}

aside ul li {
	padding: 10px;
	color: white;
}

.elements {
	padding-left: 20px;
	margin-right: 30px;
	display: none;
}

.add, .delete, .arrow {
	font-size: 30px;
	margin: 3px;
}

.delete {
	color: red;
	opacity: 0.8;
}

.add {
	color: green;
	opacity: 0.8;
}

.add:hover, .delete:hover {
	opacity: 1;
}

.arrow {
	border-radius: 50%;
	border: 1px solid rgb(46,53,62); 
}

.arrow:hover {
	border-color: rgb(0,153,255);
}

aside ul li:hover {
	background-color: rgb(0,153,255);
}

main {
	background-color: rgb(239,241,242);
}

.wrapper {
	background-color: white;
	margin: 10px;
	border-radius:2px;
	display: none;
}
 main>div>form>div {
 	display: inline-block;
 	width:96%;
 	margin: 2%;
 }

 form input {
 	background-color: rgb(239,241,242);
 	border: none;
 	margin: 10px 0;
 	line-height: 30px;
 	padding: 2px 4px;
 	border-top: 1px solid rgb(220,220,220);
 	border-radius:2px;
 }

 form div input, form div label {
 	width: 100%;
 }

.color {
 	color: rgb(0,153,255);
 }

 .textarea {
 	width: 96%;
 }

 @media only screen and (min-width:500px) and (max-width:750px) {
 	.elements {
 		display: inline-block;
 	}
 }

 @media only screen and (min-width:751px) and (max-width:1100px) {
	.elements {
 		display: inline-block;
 	}

	main>div>form>div {
 	width:45.6%;
 	}
 }

 @media only screen and (min-width:1101px) {
 	.elements {
 		display: inline-block;
 	}

	main>div>form>div {
 	width:29%;
 	}

 }